$componentName: "product";

.#{$componentName} {
  width: 100%;
  padding: 10px 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  @media all and (min-width: 768px) {
    width: 33.333333%;
  }
  &__name {
    color: #8be9fd;
    padding: 20px 0 10px;
  }

  &__index {
    color: #6272a4;
    display: block;
    padding-bottom: 10px;
  }

  &__image {
    height: 150px;
    vertical-align: middle;
  }
  &__buttons__wrapper {
    width: 65%;
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  &__count {
    color: #f8f8f2;
    font-weight: bold;
    font-size: 24px;
  }
  &__button {
    border: 2px solid #b6b6b9;
    width: 55px;
    height: 30px;
    background: #d3d4d5;
    border-radius: 25px;
    box-shadow: 4px 3px 0 #878787;
    font-size: 16px;
    color: #44475a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    top: 0;
    left: 0;
    &:hover {
      top: 3px;
      left: 4px;
      box-shadow: none;
    }
    &:focus {
      outline: none;
    }
  }
  &__num {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  &__counter {
    display: flex;
    .num {
      margin: 5px;
      line-height: 2;
    }
  }
}
